# Virtual Environment
myenv/
env/
venv/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
# Environment variables
.env
.venv
env.bat
venv.bat

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db